body{
    margin : 0;
    padding : 0;
    text-align: center;
    height: 100%;
}

html, body, .container, root{
    height: 100%;
    display: flex;
    justify-content: center;
}

.movies{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 2rem;
    width: 80%;
}